{% extends 'base.html.twig' %}

{% block title %}Crear Biblioteca{% endblock %}

{% block body %}
<!-- INICIO Crear Nueva Biblioteca -->
<br><br>
<div class="" style="max-width: 40rem;">
    <div class="card-header h2 text-center">
        Crear Biblioteca
    </div>
    <br>
    {{ include('biblioteca/_form.html.twig') }}
</div>
<!-- FIN Creación -->
{% endblock %}
