{% extends 'base.html.twig' %}

{% block title %}Añadir Libro{% endblock %}

{% block body %}
<!-- Creación Nuevo Libro -->
<br><br>
<div class="" style="max-width: 40rem;">
    <div class="card-header h2 text-center">Añadir Libro</div>
    <br>
    {{ include('libro/_form.html.twig') }}
</div>

{% endblock %}
